@header-panel-background-color: #eaeaea;
@header-text-color: #000000;
@search-input-text-color: #666666;
@menu-button-color: #6215e1;


.page-header {
    .panel.wrapper {
        background-color: @header-panel-background-color;

        span {
            height: 22px;
            color: @header-text-color;
            font-family: 'Poppins-Regular';
            font-size: 16px;
            font-weight: 400;
            font-style: normal;
            letter-spacing: normal;
            line-height: normal;
            text-align: left;
        }

        .switcher {
            .options {

                .action.toggle:after,
                .action.toggle:hover,
                .action.toggle.active:hover:after {
                    color: @header-text-color;
                    line-height: 26px;
                }
            }
        }
    }
}

.header.panel {
    background-color: @header-panel-background-color;

    .header.links {
        li {
            color: @header-text-color;
            font-family: 'Poppins-Regular';

            a,
            a:visited {
                height: 22px;
                color: @header-text-color;
                font-family: 'Poppins-Regular';
                font-size: 13px;
                font-weight: 400;
                font-style: normal;
                letter-spacing: normal;
                line-height: normal;
                text-align: left;

                &:hover {
                    color: @header-text-color;
                }
            }

        }
    }
}

.customer-welcome {

    .action.switch {
        height: 22px;
        color: @header-text-color;
        font-family: 'Poppins-Regular';
        font-size: 16px;
        font-weight: 400;
        font-style: normal;
        letter-spacing: normal;
        line-height: normal;
        text-align: left;
        color: @header-text-color;
    }
}


.block-search {
    width: 400px;
    margin-top: 20px;

    input {
        border: 1px solid #000000;
        font-family: 'Poppins-Regular';

    }
}

.minicart-wrapper {
    .action.showcart {
        .counter.qty {
            margin-top: 24px;
            background: @menu-button-color;

        }
    }

    .action.showcart::before,
    .action.showcart.active::before {
        margin-top: 20px;
        content: '';
        width: 23px;
        height: 26px;
        background: url('@{baseDir}images/bag.png');
    }

}

@media (max-width: 767px) {

    .logo {
        margin-top: 10px;
        margin-bottom: 20px;
        width: 140px;
        height: 52px;

    }

    .nav-toggle:hover:before,
    .nav-toggle:before,
    .nav-toggle:after {
        color: @menu-button-color;
        font-weight: bold;
        padding-top: 20px;
    }


    .minicart-wrapper {
        .action.showcart {
            .counter.qty {
                margin-top: 13px;
            }
        }

        .action.showcart::before,
        .action.showcart.active::before {
            margin-top: 10px;
        }
    }

    .field.search {
        padding-top: 20px;
    }

    .block-search {
        width: auto;
        margin-top: auto;
    }

    .header.content {
        padding-bottom: 1px;
    }

    .page-header {
        border-bottom: none;
        margin-bottom: none;
    }

}
