@orange: #de6100;
@white: #fff;

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}
*::-webkit-scrollbar-track {
    background: @white;
}
*::-webkit-scrollbar-thumb {
    background-color: @orange;
    border-radius: 15px;
    border: 3px solid @white;
}

.page-wrapper {
    .breadcrumbs {
        padding-top: 20px;
    }

    .page-main {
        padding-top: 40px;
    }

    .breadcrumbs ~ .page-main {
        padding-top: 10px;
    }
}

@media only screen and (max-width: 767px){
    .page-title{
        padding-top: 20px;
    }
}