.section-item-content {
  background-color: #de6100;
}
.section-item-content .navigation {
  background-color: #de6100;
}
.section-item-content .navigation ul {
  height: 50px;
}
.section-item-content .navigation ul li a {
  background-color: #de6100;
}
.section-item-content .navigation ul li a span {
  height: 25px;
  color: #ffffff;
  font-family: 'Poppins-Bold';
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  /* Text style for "Datas come" */
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-transform: uppercase;
}
.navigation .level0.parent > .level-top > .ui-menu-icon:after {
  display: none;
}
@media (max-width: 780px) {
  .section-item-content {
    background-color: white;
  }
  .section-item-content .navigation {
    background-color: white;
  }
  .section-item-content .navigation ul {
    height: 50px;
  }
  .section-item-content .navigation ul li a {
    background-color: white;
  }
  .section-item-content .navigation ul li a span {
    margin: 0;
    height: 22xp;
    color: black;
    font-family: 'Poppins-Regular';
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    /* Text style for "Datas come" */
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-transform: uppercase;
  }
  .navigation .parent .level-top:after {
    display: none;
  }
  .nav-sections {
    background-color: white;
  }
  .nav-sections-item-title {
    background-color: white;
  }
  .navigation .level0 {
    border-top: none;
  }
  .navigation li.level0:last-child {
    border-bottom: none;
  }
  .nav-sections .header.links li > a {
    border-top: none;
  }
  .nav-sections-item-switch {
    color: #6215e1;
  }
}
