@menu-button-color: #6215e1;
@hover-button-color: #4c0fbf;
@catalog-topnav-text-color: #ffffff;
@border-color: #e8e8e8;

body{
    font-family: 'Poppins-Regular' !important;   
}

.action.primary, 
.action.tocart.primary,
.action.primary.checkout,
.button.action.continue.primary,
.review-form .action.submit.primary,
.action.update,
.action.share,
.action.tocart,
.action.action-update,
.action.action-login.secondary,
.action.reload.captcha-reload,
.action.action-show-popup,
.action.action-edit-address,
.action.action-select-shipping-item,
.action.create.primary,
.action.login.primary,
.action.update,
.action.action-login.secondary,
.action.reload.captcha-reload,
.action.submit.primary,
.action.share,
.action.tocart,
.action.action-show-popup,
.action.action-edit-address,
.action.action-select-shipping-item,
.action.compare.primary {
    background: @menu-button-color;
    border-color: @menu-button-color;
    color: @catalog-topnav-text-color !important;
    font-family: 'Poppins-Regular' !important;
    border-radius: 5px;
    transition: all 0.25s ease;
    box-shadow: unset !important;

    &:hover,
    &:active,
    &:focus{
        background: @hover-button-color;
        border-color: @hover-button-color;
        color: @catalog-topnav-text-color;
    }
}

.action.subscribe.primary{
    border-radius:unset;
}

.action.action-apply,
.action.apply.primary {
    background: @menu-button-color !important;
    color: @catalog-topnav-text-color !important;
    box-shadow: unset !important;
    border-radius: 0 5px 5px 0 !important;
    padding: 7px 15px !important;

    &:hover{
        background: @hover-button-color !important;
    }
}

.modal-footer{
    .action-primary.action-accept{
        background: @menu-button-color;
        border-color: @menu-button-color;
    }
}

.product-info-main{
    .custom-product-page{
        margin-bottom: 20px;
        font-family: 'Poppins-Regular';
        text-transform: uppercase;
        font-size: 1.8rem;
    }
}

.box-tocart{
    .fieldset{
        .product-item-actions{
            .actions-primary{
                .action.tocart.primary{
                    margin-left: -4.6em;
                }
            }
        }
    }
}

.product-item-inner{
    .field.comment-box{
        display: none;
    }
    .input-text.qty {
        margin-bottom: 10px;
    }
}

.block-collapsible-nav .item.current > strong{
    border-color: @hover-button-color;
}

@media only screen and (max-width: 767px) {
    .page-main {
        .columns {
            .column.main {
                .product-item {
                    width: 100%;
                    .product-item-info {
                        width: 100%;
                    }
                    .product-item-inner {
                        .action.tocart.primary {
                            margin-left: 0;
                        }
                    }
                }
            }
        }
    }

    .block.block-collapsible-nav{
        top: 15px;

        .title.block-collapsible-nav-title{
            border-top: none;
            margin-top: -35px;
        }
        .content.block-collapsible-nav-content.active{
            padding: 0;
        }
    }
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
    .page-main {
        .columns {
            .column.main {
                .product-item {
                    border-top: 1px solid @border-color;
                    border-bottom: 1px solid @border-color;
                    margin-left: 0;

                    .product-item-info:hover,
                    .product-item-info.active {
                        box-shadow: none;
                        border: none;
                    }
                    .product-item-inner {
                        border: 0;
                        clip: 0;
                        height: auto;
                        margin: 0;
                        overflow: auto;
                        padding: 0;
                        position: static;
                        width: auto;
                        box-shadow: none;
                    }
                }
            }
        }
    }
}
