@import "_colors.less";

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}
*::-webkit-scrollbar-track {
    background: @white;
}
*::-webkit-scrollbar-thumb {
    background-color: @smoke;
    border-radius: 15px;
    border: 3px solid @white;
}

.page-wrapper {
    .page-main-full-width {
        background: @black;
    }
    .breadcrumbs {
        padding-top: 20px;
    }

    .page-main {
        padding-top: 40px;
    }

    .breadcrumbs ~ .page-main {
        padding-top: 10px;
    }
}
