@import '_colors.less';

body{
    font-family: 'Montserrat-Regular' !important;
}

.action.showcart{
    .counter.qty{
        background: @black !important;
    }
}

.action.primary, 
.action.tocart.primary,
.action.primary.checkout,
.button.action.continue.primary,
.review-form .action.submit.primary,
.action.update,
.action.share,
.action.tocart,
.action.action-update,
.action.action-login.secondary,
.action.reload.captcha-reload,
.action.action-show-popup,
.action.action-edit-address,
.action.action-select-shipping-item {
    background: @smoke;
    border-color: @black;
    color: @white !important;
    font-family: 'Montserrat-Regular' !important;

    &:hover{
        background: @black;
        border-color: @black;
        color: @white;
        transform: scale(1.03);
    }

    &:active{
        background: @smoke;
        border-color: @black;
        color: @white;
    }
    &:focus{
        background: @smoke;
        border-color: @black;
        color: @white;
    }
}

.action.action-apply,
.action.apply.primary{
    background: @smoke !important;
    color: @white !important;
    box-shadow: unset !important;

    &:hover{
        background: @black !important;
        transform: scale(1.03) !important;
    }
}

.modal-footer{
    .action-primary.action-accept{
        background: @smoke;
        border-color: @black;
    }
}

.opc-progress-bar-item._active{
    &::before{
        background: @smoke;
        border-color: @smoke;
    }

    span{
        &::before{
            background: @smoke;
            border-color: @smoke;
        }

        &::after{
            border-color: @smoke;
        }
    }
}

.opc-wrapper .shipping-address-item.selected-item{
    border-color: @smoke;

    &::after{
        background: @smoke;
    }
}

.product-info-main{
    .custom-product-page{
        margin-bottom: 20px;
        font-family: 'Montserrat-Bold';
        text-transform: uppercase;
        font-size: 1.6rem;
    }
}

.box-tocart{
    .fieldset{
        .product-item-actions{
            .actions-primary{
                .action.tocart.primary{
                    margin-left: -4.6em;
                }
            }
        }
    }
}

@media (max-width: 767px){
    .block.block-collapsible-nav{
        top: 10px;

        .title.block-collapsible-nav-title{
            border-top: none;
            border-bottom: none;
            position: absolute;
            top: -15px;
        }
    }
}
